* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #13111c;
}

body {
  background-color: #13111c;
  color: #e2e8f0;
}
